<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>HelloService</servlet-name>
  	<servlet-class>HelloService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloService</servlet-name>
  	<url-pattern>/sayhello</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>jialong.Category_Jia</servlet-name>
		<jsp-file>/Category_Jia.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>jialong.Category_Jia</servlet-name>
		<url-pattern>/Category_Jia</url-pattern>
	</servlet-mapping>
  <display-name>TomcatTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
<!--  -->